BusinessEntities/bin/
BusinessLayer/bin/
DataAccessLayer/bin/
WindowsClient/bin/
.vs/ACGS/FileContentIndex/read.lock
.vs/ACGS/FileContentIndex/46695850-0525-46c5-adcf-f9c80a347220.vsidx
*.json
ACGS/obj/ACGS.csproj.nuget.dgspec.json
*.cache
*.editorconfig
*.cache
*.props
*.v2
*.vsidx
*.v5.1
.vs/ACGS/v17/.suo
.vs/ACGS/v17/.suo
*.editorconfig
*.cache
*.editorconfig
*.cache
/BusinessEntities/Horse.cs
.dll
.pdb
.cache
.exe